@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --choc-dark: #604800;
  --choc-light: #1a120b;
  --ivory: #faf6e7;
  --sand: #d6956d;
  --sky: #99b6c7;
  --clay: #d66b58;
  --sage: #647c67;
  --slate: #687d79;
  --ocean: #007aff;
  --gray: #999999;
  --mist: #7d9baf;
  --sepia: #9a8570;
  --transparent-bg: #000000a4;
}

body {
  background: var(--ivory);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* lenis ---------------------------------------------- */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* splide --------------------------------------------- */
@layer components {

  /* Apply opacity to the splide__slide elements inside custom-carousel */
  .custom-carousel .splide__slide {
    @apply opacity-50;
  }

  /* Apply opacity 100 to the active splide__slide elements inside custom-carousel */
  .custom-carousel .splide__slide.is-active {
    @apply opacity-100;
  }
}

/* Remove default border */
.custom-carousel .splide__slide.is-active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}